<div class="container">

    <div class="my-3">
        <button class="btn btn-primary" (click)="showDialog()">Add</button>
    </div>

    <div class="my-3" *ngIf="persons$ | async as persons">
        <p-table [value]="persons">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name<br>(job title)</th>
                    <th>Age</th>
                    <th>Nickname</th>
                    <th>Employee</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-person>
                <tr>
                    <td>{{person.name}}<br>{{person.job}}</td>
                    <td>{{person.age}}</td>
                    <td>{{person.nick}}</td>
                    <td>{{person.employee}}</td>
                    <td>-</td>
                </tr>
            </ng-template>
        </p-table>        
    </div>

</div>

<p-dialog header="Title" [(visible)]="displayModal">
    Content
</p-dialog>